
@media screen and (max-width: 1015px) {
	.header {
		text-align: center;
	}
	.header__logo {
    padding: 10px 0 10px;
	}
	.header__nav {
	text-align: center;
    padding: 10px 0;
    margin: 0;
	}
	.thubs__block_thub {
	flex: 1 0 50%;
    margin: 1.28%;
	position: relative;
	width: 47%;
}
@media screen and (max-width: 480px) {
	
}